.navbarElements {
  background-image: $default_background_image;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.star_section {
  position: relative;
  z-index: 0;
}
