.navbarDIV {
  background-image: $default_background_image;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    z-index: 20;
    background-color: $primary_color;

    &_elements {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1280px;
      margin: 0 auto;
    }

    &_link {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
    }

    &_logo {
      width: 60px;
      height: 60px;
      object-fit: contain;

      &_text {
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        cursor: pointer;
      }

      &_span {
        display: none;

        @media (min-width: 640px) {
          display: block;
        }
      }
    }

    &_menu {
      list-style-type: none;
      display: none;
      flex-direction: row;
      gap: 40px;
      text-decoration: none;
      @media (min-width: 640px) {
        display: flex;
      }

      a {
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          color: #ffffff;
        }
      }

      &_active {
        a {
          color: #ffffff;
        }
      }

      &_notactive {
        a {
          color: $secondary_color;
        }
      }
    }
  }
}

.star_section {
  position: relative;
  z-index: 0;
}
